version: '3'

services:
  nginx:
    image: public.ecr.aws/ct-nilus/base-images:nginx-php-dev-v21-noble-8.3
    command: bash -c "php-fpm8.3 && nginx -g 'daemon off;'"
#    ports:
#      - '80:80'
#      - '443:443'
    volumes:
      - .:/var/www/cplatform/public
    links:
        - mysql
        - memcached
    env_file:
      - nginx-dev.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
  memcached:
      image: docker.io/bitnami/memcached:1.6.9-debian-10-r194
      #ports:
      #  - '11211:11211'
  mysql:
      image: mysql:8.0.36
      #ports:
      #  - '13307:3306'
      volumes:
          - ./tmp/docker-mysql-datadir:/var/lib/mysql
      environment:
          MYSQL_DATABASE: phputesting
          MYSQL_PASSWORD: a1234
          MYSQL_ROOT_PASSWORD: password
          MYSQL_ROOT_HOST: '%'
